.l-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
}

.l-dot-red {
  @extend .l-dot;
  background-color: var(--l-red);
}

.l-dot-blue {
  @extend .l-dot;
  background-color: var(--l-blue);
}

.l-dot-green {
  @extend .l-dot;
  background-color: var(--l-green);
}

.l-dot-yellow {
  @extend .l-dot;
  background-color: var(--l-yellow);
}
